body {
    background-color: black;
}

.videoLoop {
    width: 100%;
    height: 100vh;
    overflow: hidden; /* Tudo que passar do limite é escondido*/
    position: relative;
    display: flex;
    align-items: center;
}

.videoLoop video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /*Faz o vídeo:
                    manter a proporção original
                    preencher toda a tela
                    cortar as partes que sobrarem*/

    opacity: 0;
    /*O vídeo começa invisível.*/
    filter: blur(20px);
    animation: transicaoInicial 3s ease forwards;
    /*Aplica uma animação chamada transicaoInicial com:
                                                   3s -> duração de 3 segundos
                                                   ease -> aceleração suave
                                                   forwards -> mantém o estado final da animação*/
}

@keyframes transicaoInicial {
    from {
        opacity: 0;
        /*o vídeo começa totalmente invisível.*/
        filter: blur(20px);
    }

    to {
        opacity: 1;
        /*o vídeo termina totalmente visível.*/
        filter: blur(0px);
    }
}

.nome {
    position: absolute;
    width: 21em;
    margin-left: 25px;
    color: #e3e3e3;
    text-shadow:
        0 0 5px #00f,
        0 0 10px #0ff,
        2px 2px 2px #0ff,
        -2px -2px 2px #0ff;
    display: flex;
    flex-direction: column;
}

.zenitsu {
    font-size: 3.5rem;
    font-weight: bold;
}

.zenitsu span {
    opacity: 0;
    display: inline-block;
    /* display: inline-block mantém os elementos na mesma linha, 
  diferente do display: flex que coloca um item em baixo do outro*/
    animation: aparicao 3s ease forwards, OndaInfinita 4s ease-in-out infinite;
}

/* atraso em cada palavra */
.zenitsu span:nth-child(1) {
    animation-delay: 0s;
} /*dentro de .zenitsu, pega o PRIMEIRO span e ignora o restante*/

.zenitsu span:nth-child(2) {
    animation-delay: 0.3s;
}

.zenitsu span:nth-child(3) {
    animation-delay: 0.6s;
}

.zenitsu span:nth-child(4) {
    animation-delay: 0.9s;
}

.zenitsu span:nth-child(5) {
    animation-delay: 1.3s;
}

.zenitsu span:nth-child(6) {
    animation-delay: 1.6s;
}

.zenitsu span:nth-child(7) {
    animation-delay: 1.9s;
}

@keyframes aparicao {
    to {
        opacity: 1;
    }
}

@keyframes OndaInfinita {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-10px);
    }

    100% {
        transform: translateY(0);
    }
}

.titulo {
    font-size: 1.2rem;
    margin-top: 8px;
    letter-spacing: 2px;
    opacity: 0;
    animation: aparicao 3s ease forwards;
    animation-delay: 2s;
    text-align: center;
}


.scroll {
    color: #e3e3e356;
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 30px; /*É a mesma coisa do top, só que em vez de cima ele vem de baixo*/
    left: 48%;
    transform: translateX(-50%); /*anda 50% da SUA largura para a esquerda*/
    font-size: 1.5em;
}

.scroll span {
    height: 16px;
    font-weight: 1000;
    font-size: xx-large;
    opacity: 0;
    animation: scrollar 3s infinite;
}

.scroll span:nth-child(1) {
    animation-delay: 1s;
} /*dentro de .scroll, pega o PRIMEIRO span e ignora o restante*/

.scroll span:nth-child(2) {
    animation-delay: 2s;
}

.scroll span:nth-child(3) {
    animation-delay: 3s;
}

@keyframes scrollar {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.imgDefundo {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.imgDefundo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.carrossel {
    position: absolute;
    overflow: hidden;
    max-width: 100vw;
    top: 3em;
}

.fotos img {
    width: 30em;
    border-radius: 10px;
}

.fotos {
    display: flex;
    gap: 10px;
    width: max-content;
    animation: carrossel 12s linear infinite;
    height: 23em;
}

@keyframes carrossel {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-50%);
    }
}

.carrosselDois {
    position: absolute;
    overflow: hidden;
    max-width: 100vw;
    top: 28em;
}

.fotosDois img {
    width: 30em;
    border-radius: 10px;
}

.fotosDois {
    display: flex;
    gap: 10px;
    width: max-content;
    animation: carrosselDois 12s linear infinite;
    height: 23em;
}

@keyframes carrosselDois {
    from {
        transform: translateX(-50%);
    }

    to {
        transform: translateX(0);
    }
}


.info {
    position: relative;
    background: #050505;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
}

.particula {
    position: absolute;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    z-index: 1;
}

.emoji {
    width: 4em;
    height: 10px;
    background-image: url("https://images.vexels.com/media/users/3/139158/isolated/preview/c862a3c9ef219140fb365301f9ebbd50-ponto-preto.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    filter:
        invert(100%) sepia(100%) saturate(600%) hue-rotate(5deg) blur(2px);
    opacity: 0.2;

    animation: animar linear infinite;
    animation-duration: calc(150s / var(--i));
}

@keyframes animar {
    0% {
        transform: translateY(-100vh) scale(1.5) rotate(0deg);
    }

    100% {
        transform: translateY(110vh) scale(0) rotate(360deg);
    }
}

.esquerda {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.esquerda span {
    display: flex;
    margin-top: 74px;
    margin-left: 77px;
    font-size: 4em;

    color: #ffcc33;
    text-shadow:
        0 0 5px #ffcc33,
        0 0 30px #855200,
        0 0 60px rgba(234, 199, 119, 0.8);
}

.subTitulo {
    margin-left: 77px;
    font-size: 1.5em;
}

.descricao {
    margin-left: 77px;
    margin-top: 57px;
    max-width: 34em;
    font-size: 1.4em;
    text-align: center;
}

.GIF {
    margin-left: 77px;
    margin-top: 40px;
    filter: brightness(0.5);
}

.GIF img {
    width: 35em;
    height: 20em;
}

.direita img {
    overflow: hidden;
    margin-top: 30px;
    width: 43em;
    height: 45em;
    filter: drop-shadow(0 0 18px rgba(255, 215, 0, 0.65)) drop-shadow(0 0 45px rgba(255, 180, 0, 0.45)) drop-shadow(0 0 90px rgba(255, 140, 0, 0.25));
}

@media (max-width: 768px) {
    .nome {
        top: 83%;
        left: 52%;
        transform: translate(-50%, -50%);
        width: 12em;
    }

    .zenitsu {
        font-size: 2em;
        max-width: 100%;
    }

    .titulo {
        font-size: 1em;
        max-width: 100%;
        text-align: center;
    }

    .videoLoop video {
        width: 113%
    }

    .scroll {
        left: 54%;
    }

    .fotos img {
        width: 15em;
    }

    .fotos {
        height: 10em;
    }

    .carrosselDois {
        top: 15em;
    }

    .fotosDois img {
        width: 15em;
    }

    .fotosDois {
        height: 10em;
    }

    .info {
        flex-direction: column;
        width: 100vw;
    }

    .esquerda {
        color: white;
        display: flex;
        flex-direction: column;
    }

    .esquerda span {
        display: flex;
        margin-left: 24px;
        font-size: 4em;
        justify-content: center;
    }

    .subTitulo {
        margin-left: 10px;
        font-size: 1.5em;
        text-align: center;
    }

    .descricao {
        text-align: center;
        margin-left: 0px;
        max-width: 26em;
        font-size: 1.3em;
    }

    .GIF {
        display: none;
    }

    .direita img {
        margin-left: 33px;
    }

}

@media(max-width: 430px) {
    .videoLoop video {
        width: 115%;
    }

    .nome {
        top: 83%;
        left: 46%;
        transform: translate(-50%, -50%);
        width: 12em;
    }

    .zenitsu {
        font-size: 1.9em;
        max-width: 100%;
        text-align: center;
    }

    .titulo {
        font-size: 1em;
        max-width: 100%;
        text-align: center;
    }

    .scroll {
        left: 52%;
    }

    .carrossel {
        top: 8vh;
    }

    .fotos img {
        width: 10em;
    }

    .fotos {
        height: 8em;
    }

    .carrosselDois {
        top: 30vh;
    }

    .fotosDois img {
        width: 10em;
    }

    .fotosDois {
        height: 8em;
    }

    .fundo img {
        height: 52vh;
    }

    .info {
        flex-direction: column;
        width: 100vw;
        overflow: hidden;
    }

    .esquerda {
        color: white;
        display: flex;
        flex-direction: column;
        margin-top: -3em;
    }

    .esquerda span {
        display: flex;
        margin-left: 24px;
        font-size: 4em;
        justify-content: center;
    }

    .subTitulo {
        margin-left: 10px;
        font-size: 1.5em;
        text-align: center;
    }

    .descricao {
        text-align: center;
        margin-left: 4vw;
        margin-top: 6vh;
        max-width: 85vw;
        font-size: 2.5vh;
        line-height: 1.6;
    }

    .GIF {
        display: none;
    }

    .direita {
        position: relative;
    }

    .direita img {
        position: absolute;
        left: 2vw;
        top: -51vh;
        width: 130vw;
        height: auto;
    }
}


